ul[data-pc-section="submenu"] {
    z-index: 50;
}

.menubar {

    ul[data-pc-section="submenu"],
    div[data-pc-section="content"] {
        border-radius: 6px;
    }

    a[data-pc-section="action"] {
        padding: 0.75rem 0.5rem;
    }
}

.data-table {
    border-color: #bfdbfe !important;
}

.data-table-expanded {
    border-color: #10b98180 !important;
}

.data-table,
.data-table-expanded {
    border: 0.1rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-collapse: separate;
    overflow: hidden;

    td,
    th {
        padding: 0.75rem;
    }

    .p-paginator-custom {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.25rem 2rem;
    }

    .p-paginator-custom .p-paginator-current {
        flex-grow: 1;
        text-align: right;
        font-size: 0.95rem;
        text-transform: lowercase;
        // width: 50%;
        // margin-left: 25%;
    }

    button[data-pc-section="firstpagebutton"] {
        margin-left: 40%;
    }

    div[data-pc-name="rowperpagedropdown"] {
        margin-left: 1%;
    }
}

.data-table-expanded,
.div-expanded {
    animation: slide-in 2.5s ease-out;
}


@keyframes slide-in {
    0% {
        max-height: 0;
        overflow: hidden;
    }

    100% {
        max-height: 500px;
    }
}

@keyframes slide-out {
    0% {
        max-height: 500px;
    }

    100% {
        max-height: 0;
        overflow: hidden;
    }
}