.menubar {

    ul[data-pc-section="submenu"],
    div[data-pc-section="content"] {
        border-radius: 6px;
    }

    a[data-pc-section="action"] {
        padding: 0.75rem 0.5rem;
    }
}

.data-table {
    border-color: #bfdbfe !important;
}

.data-table-expanded {
    border-color: #10b98180 !important;
}

.data-table,
.data-table-expanded {
    border: 0.1rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-collapse: separate;
    overflow: hidden;

    td,
    th {
        padding: 0.75rem;
    }

    .p-paginator-custom {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.25rem 2rem;
    }

    .p-paginator-custom .p-paginator-current {
        flex-grow: 1;
        text-align: right;
        font-size: 0.95rem;
        text-transform: lowercase;
        // width: 50%;
        // margin-left: 25%;
    }

    button[data-pc-section="firstpagebutton"] {
        margin-left: 40%;
    }

    div[data-pc-name="rowperpagedropdown"] {
        margin-left: 1%;
    }

    tr[data-pc-section="rowexpansion"] // td[data-pc-section="rowexpansioncell"],

        {
        animation: slide-in .3s ease;
    }
}

@keyframes slide-in {
    0% {
        // opacity: 0;
        transform: scaleY(0);
    }

    100% {
        // opacity: 1;
        transform: scaleY(1);
    }

}